    <!--Aquí va lo que cambia, y lo asociado a está vista :) -->
    <h1>Este es el título del Inicio que cambio</h1>
    <br>
    <br>

    <h3>Podes ingresar una planta :</h3>

    <form action="/CoderApp/" method="post">{% csrf_token %}

        <input type="text" name="raza" name="nombre">
        <br>
        <br>
        <input type="text" name="raza" name="nombre">
        <br>
        <br>
        <input type="text" name="raza" name="nombre">
        <br>
        <br>
        <input type="submit" value="Buscar">

    </form>

    

    {% if planta %}

    <p>Estamos buscando el: {{nombre}}</p>

    <ul>
	{% for curso in cursos %}
		<li> {{planta.nombre}} </li>
		<li> {{planta.nombreCientifico}} </li>
        <li> {{planta.cantidad}} </li>
        <li> {{plata.deInterior}} </li>
	{% endfor %}

    </ul>
   
    {% endif %}
